<%-include("../layout/adminHeader.ejs")%>



<div class="mainBody">
    <div class="col-sm-12 col-md-6 col-lg-6 mx-auto text-center">
    <div class="add-coupon container shadow-div">
        <p>
            <button
              class="btn btn-primary my-4 mx-auto "
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Add Coupon
            </button>
          </p>
          <div class="collapse container" id="collapseExample">
            <form class="form-floating" method="post"   enctype="multipart/form-data">
          
                <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  name="coupon"
                  placeholder="Coupon Code"
                  required
                />
                <label for="floatingInput">Coupon Code</label>
              </div>
              
              <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="floatingInput"
                  name="expiryDate"
                  placeholder="Coupon Expiry"
                  required
                />
                <label for="floatingInput">Expiry </label>
              </div>
             
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  name="percent"
                  placeholder="Discount Percentage"
                  required
                />
                <label for="floatingInput">Discount Percentage</label>
              </div>
              
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  name="name"
                  placeholder="Coupon Name"
                  required
                />
                <label for="floatingInput">Coupon </label>
              </div>
               
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  name="name"
                  placeholder="Coupon Name"
                  required
                />
                <label for="floatingInput">Coupon </label>
              </div>
               
           
              <input
                  type="submit"
                  class="btn btn-primary m-4 mx-auto"
                  value="Add "
                />
                <a class="btn btn-danger mx-4" href="/admin/category">Cancel</a>
                 </div>
               </form>
              </div>
           
           
           
           
            </div>
    </div>












<%-include("../layout/adminFooter.ejs")%>