<%-include("../layout/adminHeader.ejs")%>



<div class="mainBody">

    <div class="shadow-div container rounded text-center">
        <h3 class="m-4">Edit Carousel</h3>

        <form class="form-floating mx-4">
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="title" placeholder="Enter title">
              <label for="title">Title</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="subtitle" placeholder="Enter sub title">
              <label for="subtitle">Sub title</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="buttonText" placeholder="Enter button text">
              <label for="buttonText">Button Text</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="buttonLink" placeholder="Enter Button link">
              <label for="buttonLink">Button link</label>
            </div>

            
            <div class="form-floating">
              <input type="file" class="form-control" id="file" placeholder="Choose Image">
              <label for="file">Slider image</label>
              <input type="submit" class="btn btn-primary m-4 mx-auto" value="Save ">
              <a class="btn btn-danger mx-4" href="/admin/carousel">Cancel</a>

            </div>
          </form>
</div>
</div>




<%-include("../layout/adminFooter.ejs")%>