<%-include("../layout/adminHeader.ejs")%>

<div class="container-fluid">
  <h2>Welcome Admin....</h2>
  

  <div class="card-row row m-4">

    <!-- -----------------Start Card------------------ -->
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h4 class="card-title my-4">Weekly Orders</h4>
      </div>
    
      <div class="card-body">
       
        <img src="..." class="card-img-top" alt="...">
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    
  </div>



    <!-- -----------------End Card------------------ -->

 


  <!-- ----------------------------------Start Charts----------------------->
  <div class="row">
<!-- -----------Start Single Chart--------------- -->
<div class="col-md-4 chart-card">
  <div style="width: 400px;height: 400px;">
    <h4 class="text-center my-3">Payment Modes</h4>
    <canvas id="paymentModseChart"></canvas>
  </div>
</div>
<!-- -----------End Single Chart--------------- -->

<!-- -----------Start Single Chart--------------- -->
<div class="col-md-4">
  <div style="width: 400px;height: 400px;">
    <h4 class="text-center my-3">Payment Modes</h4>
    <canvas id="paymentModeChart"></canvas>
  </div>
</div>
<!-- -----------End Single Chart--------------- -->


</div>
  
  <!-- ----------------------------------End Charts---------------------- -->
</div>


  <script>

    // ------------------Start Chart Script----------------------
    const ctx = document.getElementById('paymentModeChart');
    const paymentModeFun= ()=>{

      fetch("/admin/get-paymentmodes",{method:"get"})
      .then(response=>response.json())
      .then(data=>{
        console.log(data)

        new Chart(ctx, {
        type: 'pie',
      data: {
        labels:  Object.keys(data),
        datasets: [{
          label: 'Number of orders',
          data: Object.values(data),
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: false
          }
        }
      }
    });
  


      })
      
      
    }






  paymentModeFun();
    
    
    
    // ------------------Start Chart Script----------------------

    
    
</script>
    
    
<%-include("../layout/adminFooter.ejs")%>
