<%-include("../layout/loginHeader.ejs")%>
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100">
  <div
  class="login100-pic js-tilt"
  data-tilt=""
  style="
    will-change: transform;
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
  "
><a href="/">
  <img src="/login/images/logoText.png" alt="IMG" />
</a>

</div>
<form class="login100-form validate-form" method="post">
<span class="login100-form-title">
Reset Password
</span>

 
<!-- input field -->
<div class="wrap-input100 validate-input" data-validate="Password is required">
  <input class="input100" id="password" type="password" name="password" placeholder="Password" oninput="validatePasswords()">
  <span class="focus-input100"></span>
  <span class="symbol-input100">
  <i class="fa fa-lock" aria-hidden="true"></i>
  </span>
  </div>
  <!-- End input field -->
  <!-- input field -->
<div class="wrap-input100 validate-input" data-validate="Password is required">
  <input class="input100" id="confirmpassword" type="password" name="confirmpassword" placeholder="Confirm Password"  oninput="validatePasswords()">
  <span class="focus-input100"></span>
  <span class="symbol-input100">
  <i class="fa  fa-key" aria-hidden="true"></i>
  </span>
  </div>
  <!-- End input field -->

<div class="errorBlock">
  <p style="color: red;" id="errorMessage"> </p>
</div>



<div class="container-login100-form-btn">

  <input type="submit" class="btn btn-primary" id="submitButton" value="Reset Password" disabled>
</div>
<div class="text-center p-t-12">

</div>
<div class="text-center p-t-136">

</div>
</form>
</div>
</div>
</div>




<script>

const validatePasswords= ()=>{
  let password = document.getElementById("password").value;
  let confirmPassword = document.getElementById("confirmpassword").value;
  // const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
  const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z" !#$%&'()*+,-./:;<=>?@[\\]^_`{|}~]{8,}$/;

  if (!password) {
    passwordvalid = false
      document.getElementById("errorMessage").innerText = "Password is required"
      document.getElementById("submitButton").disabled= true;
  }
  else if (!password.match(passwordRegex)) {
      document.getElementById("errorMessage").innerText = "Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, one digit and one special character";
      document.getElementById("submitButton").disabled= true;
    } else if (confirmPassword!== password){

   document.getElementById("errorMessage").innerText= "Passwords doesn't match"
   document.getElementById("submitButton").disabled= true;
  } else {
    document.getElementById("errorMessage").innerText= ""
  document.getElementById("submitButton").disabled= false;
 }
 
}



</script>







<%-include("../layout/loginFooter.ejs")%>


