<%-include("../layout/loginHeader.ejs")%>
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100">
<div class="login100-pic js-tilt" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
<img src="/login/img-01.webp" alt="IMG">
</div>
<form class="login100-form validate-form">
<span class="login100-form-title">
Sign up
</span>

<!-- input field -->
<div class="wrap-input100 validate-input" data-validate="Name is required">
<input class="input100" type="text" name="name"  id="name" placeholder="Name" oninput="handleNameChange()">
<p class="hidden-content red-text" id="name-error"></p>
<span class="focus-input100"></span>
<span class="symbol-input100">
<i class="fa  fa-user" aria-hidden="true"></i>
</span>
</div>
<!-- End input field -->

<!-- input field -->
<div class="wrap-input100 validate-input" data-validate="Valid email is required">
<input class="input100" type="text" name="email" id="email" placeholder="Email" oninput="handleEmailChange()" >
<p class="hidden-content red-text" id="email-error" value=""></p>
<span class="focus-input100"></span>
<span class="symbol-input100">
<i class="fa fa-envelope" aria-hidden="true"></i>
</span>
</div>
<!-- End input field -->

<!-- input field -->
<div class="wrap-input100 validate-input" data-validate="Phone number is required">
  <input class="input100" type="text" name="phone" id="phone" placeholder="Mobile number"  oninput="handlePhoneChange()">
  <p class="hidden-content red-text" id="phone-error"></p>
  <span class="focus-input100"></span>
  <span class="symbol-input100">
  <i class="fa fa-mobile" aria-hidden="true"></i>
  </span>
  </div>
  <!-- End input field -->

<!-- input field -->
<div class="wrap-input100 validate-input" data-validate="Password is required">
  <input class="input100" type="password" name="password" id="password" placeholder="Password" onchange="handlePassword(this)">
  <p class="hidden-content red-text" id="password-error"></p>

  <span class="focus-input100"></span>
  <span class="symbol-input100">
  <i class="fa fa-lock" aria-hidden="true"></i>
  </span>
  </div>
  <!-- End input field -->

  <!-- input field -->
<div class="wrap-input100 validate-input" data-validate="Password is required">
  <input class="input100" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" onchange="handlePassword(this)">
  <p class="hidden-content red-text" id="confirmPassword-error"></p>

  <span class="focus-input100"></span>
  <span class="symbol-input100">
  <i class="fa fa-key" aria-hidden="true"></i>
  </span>
  </div>
  <p class="wrong-password"></p>
  <!-- End input field -->

<div class="container-login100-form-btn">
<button class="login100-form-btn">
Sign up
</button>
</div>
<div class="text-center p-t-12">

</div>
<div class="text-center p-t-136">

</div>
</form>
</div>
</div>
</div>

<%-include("../layout/loginFooter.ejs")%>