<%-include("../layout/loginHeader.ejs")%>
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100">
<div class="login100-pic js-tilt" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
<img src="/login/img-01.webp" alt="IMG">
</div>
<form class="login100-form validate-form">
<span class="login100-form-title">
Email Verification
</span>


  <!-- input field -->
  <div class="wrap-input100 validate-input" data-validate="">
    <label for="input100"> Enter the OTP received in your email</label>
    <input class="input100 my-4" type="text" name="forgetemail" placeholder="Email">

    
    </div>
    <!-- End input field -->



<div class="container-login100-form-btn">
<button class="login100-form-btn">
Submit
</button>
</div>
<div class="text-center p-t-12">

</div>
<div class="text-center p-t-136">

</div>
</form>
</div>
</div>
</div>



<%-include("../layout/loginFooter.ejs")%>