<header class="header header-2 header-intro-clearance">
  

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
                
                <a href="/" class="logo">
                    <img src="assets/images/demos/demo-2/logo.png" alt="auraBeaut Logo" width="180" height="28">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>

            <div class="header-right">


                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                       <% if(typeof userData.name != 'undefined'){ %>
                        <p> <%=userData.name%> </p>
                       <% }else{ %>
                            <p> <%=userData[0].name%> </p>
                     <%   } %>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="">
                            
                        <div class="dropdown mx-1 px-1">
                            <a href="/user-dashboard" class="btn btn-primary mx-1 my-2">Profile</a>
                            <a href="/orders" class="btn btn-primary mx-1 my-2">Orders</a>
                            <a href="/logout" class="btn btn-outline-danger my-2"><span>Logout</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->
                </div>

              
                <div class="wishlist">
                    <a href="/wishlist" title="Wishlist">
                        <div class="icon">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-count badge">
                                <%= typeof userData.wishlist !='undefined' ? userData.wishlist.length : userData[0].wishlist.length %>
                           
                            </span>
                        </div>
                        <p>Wishlist</p>
                    </a>
                </div><!-- End .compare-dropdown -->

                
                <div class="wishlist">
                    <a href="/cart" title="cart">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <span class="wishlist-count badge">
                                <%= typeof userData.cart !='undefined' ? userData.cart.length : userData[0].cart.length %>
                            </span>
                        </div>
                        <p>Cart</p>
                    </a>
                </div>

                


                

<!-- End .compare-dropdown -->



            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <!-- <div class="dropdown category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                        Browse Categories
                    </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">
                               
                                <li><a href="#">Face Cream</a></li>
                                <li><a href="#">Hair Gel</a></li>
                                <li><a href="#">Face Wash</a></li>
                                <li><a href="#">Shampoo</a></li>
                                <li><a href="#">Hair Oil </a></li>
                              
                            </ul>
                        </nav>
                    </div>
                    
                </div>End .category-dropdown -->
            </div><!-- End .header-left -->

            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="">Home</a>

                        </li>
                        <li>
                            <a href="/all-products" class="">Products</a>

                        </li>
                        <!-- <li >
                            <a href="#" class="">Offers</a>

                        </li> -->
                        <li>
                            <a href="/wishlist" class="">Wishlist</a>

                            </li>
                        <li>
                            <a href="/cart" class="">Cart</a>

                            
                        </li>
                        <li>
                            <a href="#" class="">About</a>

                         
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-center -->

            
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var menuItems = document.querySelectorAll('.menu .menu-item');
    
        for (var i = 0; i < menuItems.length; i++) {
            menuItems[i].addEventListener('click', function() {
                // Remove active class from all menu items
                for (var j = 0; j < menuItems.length; j++) {
                    menuItems[j].classList.remove('active');
                }
    
                // Add active class to the clicked menu item
                this.classList.add('active');
            });
        }
    });
    </script>